#忽略程序集文件
#Bin 目录用来保存项目生成后程序集，debug文件夹，里面包含生成的程序，可以忽略
/TDP/WindowsFormsApp1/bin/Debug

#忽略编译结果
#obj目录是用来保存每个模块的编译结果，在.NET中，编译是分模块进行的，编译整个完成后会合并为一个.DLL或.EXE保存到bin目录下。也可以忽略
/TDP/WindowsFormsApp1/obj/Debug

#不可以忽略的

#Properties文件是用来存放资源文件和成员集属性的

#.resx 文件，属于资源文件 ，由 XML 组成，可以加入任何资源，包括二进制，表示的是窗口使用的一些资源信息，例如使用了哪些资源，存放位置等，不可以忽略。

#.designer.cs存放的一些空间和窗口中可以用肉眼看到的一些东西和他们的配置信息，也不可以忽略。

#.sln是项目文件，包括项目的一些设置，占的空间也不大，一般不建议忽略，但如果用vs直接打开.csproj工程文件，也会新建.sln。所以.csproj一定不可以忽略。

#.cs文件是程序的代码文件，.config文件是配置文件，不可忽略。

#在以后版本控制过程中会生成其他的一些文件，这时候会增加或减少一些可以忽略的文件。所以.ignore文件需要放在版本管理文件中，随着版本不断迭代满足实际需要。
